<button id="play" (click)="play()">
  <img [hidden]="!audio.paused" src="./../../assets/icons/Play.svg" alt="">
  <img [hidden]="audio.paused" src="./../../assets/icons/Pause.svg" alt="">
</button>
<span>{{trackPosition | trackLength}}</span>
<div  id="progressBar" (mousedown)="this.drag=true" (mouseup)="this.drag=false" (mousedown)="setProgress($event)" (mousemove)="setProgress($event)">
  <div #progressbar id="progress">

  </div>
  <button #knob id="knob">

  </button>
</div>
<span>{{trackLength | trackLength}}</span>
