    <h1>Log In</h1>
    <span>New here? <a routerLink="/auth/signup">Sign Up</a></span>
    <form (ngSubmit)="login()" #loginForm="ngForm" id="form">
        <label for="email">Email</label>
        <input #mail="ngModel" type="email" ngModel [email]="true" name="email" id="email" placeholder="savovuksan@gmail.com" autocomplete="email" required>
       
        <div class="error" [hidden]="mail.valid || mail.pristine || mail.untouched">
            <span *ngIf="mail.errors?.required">Required</span>
            <span *ngIf="mail.errors?.email">Use email format a@b.c</span>
        </div>
        <label for="password">Password</label>
        <input type="password" minlength="6" [(ngModel)]="password" name="password" id="password" placeholder="Must be at least 6 characters" autocomplete="current-password" required>
        <input type="submit" [disabled]="!loginForm.form.valid" value="LOGIN">
    </form>
