<div id="ctn">
    <nav>
      <ul>
        <li class="active">
            <img src="./../../assets/icons/Home.svg" alt="">
          <h4>Home</h4>
        </li>
        <li>
          <img src="./../../assets/icons/Notification.svg" alt="">
          <h4>Notifications</h4>
        </li>
        <li>
          <img src="./../../assets/icons/Profile.svg" alt="">
          <h4>Profile</h4>
        </li>
      </ul>
      <ul id="logout">
          <li>
              <img src="./../../assets/icons/LogOut.svg" alt="">
              <h4>Logout</h4>
          </li>
      </ul>
    </nav>
    <div id="timeline">
      <router-outlet></router-outlet>
      <!--<app-voice-details></app-voice-details><!-->
      <!--<app-timeline></app-timeline>!-->
      <!--<app-view-user></app-view-user>!-->
      <!--<app-notifications></app-notifications>!-->
      <!--<app-comment-voice></app-comment-voice>!-->
    </div>
    <div id="searchCtn">
     <app-search></app-search>
    </div>
  </div>
  