<div id="ctn">
  <div class="profile-pic-s" id="pic">

  </div>
  <ul id="content">
    <li><span id="user">@savovuk</span> <span id="date"> | 31. Aug</span></li>
    <li>
      <app-audio-player></app-audio-player>
    </li>
    <li>
      <span id="tag">#Berlin </span>
      <span id="tag">#Bears </span>
      <span id="tag">#Sauna </span>
      <span id="tag">#Gay </span>
      <span id="tag">#Chubs</span>
    </li>
    
  </ul>
  <ul id="interactions">
    <li id="comments">
      <img src="./../../assets/icons/Comment.svg" alt="">
      <span> 4</span>
    </li>
    <li id="likes">
      <img src="./../../assets/icons/Like.svg" alt="">
      <span> 12</span>
    </li>
  </ul>
</div>
